.canvas {
    z-index: -1;
  }  
  
  .info_leyer { 
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;   
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #info {   
    width: 160px;
    height: 30px;   
    text-align: center; 
    font-size: 12px;;
  }
  
  .canvas {
    z-index: -1;             
  }
  
  canvas {
    position: absolute;
    top: 0;
    cursor: grab;
  }

canvas:active {				
    cursor: grabbing;
}

.button-controls-aqvam-left {
  height: 220px;
  width: 100px;
  position: absolute; 
  display: flex;
  flex-direction: column;
  left: 30px;
  bottom: 20px;  
  align-items: center;
  justify-content: right;
  z-index: 1;
}

.button-controls-jump {  
  height: 220px;
  width: 100px;
  position: absolute; 
  display: flex;
  flex-direction: column;
  left: 120px;
  bottom: 20px;  
  align-items: center;
  justify-content: right;
  z-index: 1;
} 

#btn-jump-to-column button img {
  max-height: 10px;
}

#btn-previous-column button img {
  max-height: 10px;
}
  
.button-controls-aqvam {
  height: 220px;
  width: 100px;
  position: absolute; 
  display: flex;
  flex-direction: column;
  right: 30px;
  bottom: 20px;  
  align-items: center;
  justify-content: right;
  z-index: 1;
}

#btn-start button , #btn-play button , #btn-pause button , #btn-count button , #btn-quantity button , #btn-back button ,  #btn-cameraC button, #btn-cameraH button, #btn-hide-boxes1 button, #btn-hide-boxes2 button, #btn-hide-boxes3 button, #btn-jump-to-column button, #btn-previous-column button {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  width:70px;
  height: 20px;
  margin-right: 10px;;
  border-radius: 12px;
  text-align: center;
  font-size: 9px;
  font-weight: 100;    
}
  
#btn-start button:hover , #btn-play button:hover , #btn-pause button:hover, #btn-count button:hover , #btn-quantity button:hover, #btn-back button:hover, #btn-cameraC button:hover, #btn-cameraH button:hover, #btn-hide-boxes1 button:hover, #btn-hide-boxes2 button:hover,#btn-hide-boxes3 button:hover, #btn-jump-to-column button:hover, #btn-previous-column button:hover  {
  cursor: pointer;
  border: 1px solid rgb(162, 255, 0);
  color: rgb(162, 255, 0);
}

#btn-count button, #btn-quantity button {
  background-color: rgba(0, 0, 0, 0.5);  
  border: 1px solid rgb(218, 67, 241); 
  color: rgb(176, 32, 198); 
  width:70px;
  height: 20px;
  margin-right: 10px;;
  border-radius: 12px;
  text-align: center;
  font-size: 9px;
  font-weight: 100;  
}

#btn-hide-boxes1 button {
  background-color: rgba(0, 0, 0, 0.5);  
  border: 1px solid rgb(45, 130, 28); 
  color: rgb(45, 130, 28); 
  width:70px;
  height: 20px;
  margin-right: 10px;;
  border-radius: 12px;
  text-align: center;
  font-size: 9px;
  font-weight: 100;  
}

#btn-hide-boxes2 button {
  background-color: rgba(0, 0, 0, 0.5);   
  border: 1px solid rgb(0, 138, 209); 
  color: rgb(0, 138, 209); 
  width:70px;
  height: 20px;
  margin-right: 10px;;
  border-radius: 12px;
  text-align: center;
  font-size: 9px;
  font-weight: 100;  
}
#btn-hide-boxes3 button {
  background-color: rgba(0, 0, 0, 0.5);   
  border: 1px solid rgb(255, 255, 255); 
  color: rgb(255, 255, 255); 
  width:70px;
  height: 20px;
  margin-right: 10px;;
  border-radius: 12px;
  text-align: center;
  font-size: 9px;
  font-weight: 100;  
}

@media (max-width: 724px) {  
  /* da sostare in data */

  .button-controls-aqvam {   
    bottom: -82px;
  }

  .button-controls-jump {     
    bottom: -82px; 
  }  

  .button-controls-aqvam-left {   
    bottom: -82px;     
  }

  #btn-start button , #btn-play button , #btn-pause button , #btn-count button , #btn-quantity button , #btn-back button , #btn-camera button , #btn-audio button, #btn-cameraC button, #btn-cameraH button, #btn-hide-boxes1 button, #btn-hide-boxes2 button, #btn-hide-boxes3 button, #btn-jump-to-column button, #btn-previous-column button  {
    width:66px;
    height: 16px;
    border-radius: 12px;
    font-size: 7px;
    font-weight: 100;    
  }

}