body {    
    height: 400vh;
    background-image: url('images/bcg/SfondoI.jpg');
    background-size: cover;   
    z-index: -9999;      
}

.image-cover {
    width: 100%;
    height: 40vh;
    position: absolute;
    top:0;      
    margin: 0px;  
    background-image: url("./images/hearts/esperienza.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover; 
}

.scrolling {
    position: absolute;
    bottom: 40px;
}

.home-text {
    display: flex;
    flex-direction: column;      
    width: 100%;    
    height: 80vh;
}

.home-title {
    width: 50%;
}

.home-title h1 {    
    font-size: 60px;
    letter-spacing: 0px;    
}

.logoh {
    position: relative;
    left: -40px;
}

.logoh img {
    width: 200px;
    height: auto;    
}

.home-paragraph {
    width: 50%;
    height: 36vh;
    display: flex;   
    align-items: flex-start;
    margin-top: auto;
}


/* GALLERY */
.paragraph-gallery {
    position: absolute;
    top:0;
    width: 100%;
    height: 40vh;    
    margin: 0px;
    display: flex;           
}

.double-image-data  {
    position: relative;
    width: 50%;
    height: 100%;     
    display: flex;
    flex-direction: row;
    overflow: hidden;    
}

.dids {  
    width: 50%; 
}

.dids img {
    object-fit: cover;
    object-position: center;    
    width: 100%; 
}


@media (max-width: 1024px) {

    .paragraph-gallery {        
        flex-direction: column;
    }

    .double-image-data {
        width: 100%;
    }

    .home-text {                        
        width:80%;                 
    }

    .home-title {          
        width: 100%;
        text-align: left;
    }

    .home-paragraph {            
        width: 90%;
        height: 40%;                         
    }

    .home-paragraph p {                   
        font-size: 19px;     
        line-height: 21px;
    } 
 
}

@media (max-width: 700px) {

    .home-text {  
        width: 90%;      
        height: 80vh;        
    } 

    .paragraph-gallery {
        height: 50vh;        
    }

    .home-title h1 {
        font-size: 50px;           
        letter-spacing: -2px;        
    } 
    
    .home-paragraph {  
        width: 100%;
        height: 36vh;                        
    } 

    .home-paragraph p {
        font-size: 19px;
        line-height: 21px;
    } 

}
