body {    
    height: 400vh;
    background-image: url('images/bcg/SfondoI.jpg');
    background-size: cover;     
    background-repeat: no-repeat;
    background-attachment: fixed;      
    z-index: -9999;      
}

.image-cover {
    width: 100%;
    height: 40vh;
    position: absolute;
    top:0;      
    margin: 0px;  
    background-image: url("./images/hearts/esperienza.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover; 
}

.scrolling {
    position: absolute;
    bottom: 40px;
}


.logoh {
    position: relative;
    left: -40px;
}

.logoh img {
    width: 200px;
    height: auto;    
}

.home-paragraph {  
    height: 36dvh;
    display: flex;   
    align-items: flex-start;
    margin-top: auto;
}


/* GALLERY */
.paragraph-gallery {
    position: absolute;
    top:0;
    width: 100%;
    height: 40vh;    
    margin: 0px;
    display: flex;           
}

.double-image-data  {
    position: relative;
    width: 50%;
    height: 100%;     
    display: flex;
    flex-direction: row;
    overflow: hidden;    
}

.dids {  
    width: 50%; 
}

.dids img {
    object-fit: cover;
    object-position: center;    
    width: 100%; 
}


@media (max-width: 1024px) {

    .paragraph-gallery {        
        flex-direction: column;
    }

    .double-image-data {
        width: 100%;
    }

    .home-text {                        
        width:80%;                 
    }

    .home-title {          
        width: 100%;
        text-align: left;
    }

    .home-paragraph {            
        width: 100%;
        height: 46dvh;                         
    }

    .home-paragraph p {                   
        font-size: 22px;     
        line-height: 24px;
    } 
 
}

@media (max-width: 724px) {    

    .home-text {  
        width: 90%;      
        height: 80vh;        
    } 

    .logoh {
        position: relative;
        left: -20px;
    }
    
    .logoh img {
        width: 140px;
        height: auto;    
    }

    .paragraph-gallery {
        height: 40vh;        
    }

    .home-title h1 {
        font-size: 50px;           
        letter-spacing: -2px;        
    } 
    
    .home-paragraph {  
        width: 100%;
        height: 46vh;                        
    } 

    .home-paragraph p {
        font-size: 16px;
        line-height: 17px;
    } 

}
