/* SOURCE SANS 3**/
/* HANKEN GROTESQUE */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Monoton&family=Montserrat:wght@300&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;   
}

html{
  scroll-behavior: smooth;
  scroll-snap-type:y mandatory;     
  overflow-y: scroll;    
}

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: 50% 50% no-repeat rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 3px solid #A2FF00;  
  border-radius: 50%;
  border-top: 3px solid #000000;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.text-loader {
  position: fixed;
  left: 0px;
  bottom: 15%;
  width: 100%;
  height: 50%;
  z-index: 9999; 
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {    
  font-size: 100%;  
  font-family: 'Source Sans 3', sans-serif; 
  font-weight: 200;
  color: #ffffff;
  background-color: #000000;   
}

a {
  color: #a2ff00;   
  /* color: #FF00A2; 
  color: #00A2FF;    */
  font-weight: 400;
  text-decoration: none;     
}

a:hover {
  color: #00A2FF; 
}

/* Nasconde la barra di scorrimento per Chrome, Safari e Opera */
html::-webkit-scrollbar {
  display: none;
}

/* HEADER */
/* MENU AMBURGER */
header { 
  width: 100%;
  top: 0;
  padding-top: 10px;
  height: 60px;    
  position: fixed;     
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;   
  color: #000000;  
  z-index: 999;
}

#logo {      
  width: 80px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#logo a {
  display: flex;
}

header img {  
  content:'images/logo2.jpg';  
  width: 50px;                     
}
  
.menu {   
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 20px;
}

.menu ul {  
  height: 100%;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu li:last-child a {
  font-style: normal;
  color:#ff00a2;
  font-weight: 400;
}

.menu li a {                
  color: #a2ff00;  
  font-style: italic; 
  text-decoration: none;
  font-size: 16px;   
  font-weight: 900;
  letter-spacing: 0px;    
}

.menu li a:after {    
  content:'';
  width: 0%;
  height: 2px;  
  background: #a2ff00;
  display: block;   
  margin: auto;
  transition: 0.3s;
}

.menu li a:hover:after {
  width: 100%;
  height: 1px;  
}


/* MENU BUTTON X */
  
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  
#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {  
  display: block;  
  background-color: #a2ff00;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-right: 40px;
  z-index: 1;
}
  
.menu-button::before {
  content: '';
  margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}
  
@media (max-width: 700px) {
 
  .menu-button-container {      
    display: flex;    
  }
  
  .menu { 
    background-color:  #ff00a2;      
    position:absolute;
    height: 100vh;
    top: 0;
    margin-top: 0px;    
    left: 0;        
    flex-direction: column;
    width: 100%;    
    /*justify-content: center;*/
    align-items: center;
    overflow:hidden;
  } 

  .menu li:last-child a {   
    color:#00a2ff;    
  }
  
  #menu-toggle ~ .menu {
    height: 0; 
    padding-top: 0px;                  
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu {
    height: 100vh;
    padding-top: 80px; 
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  } 

  #menu-toggle ~ .menu li {      
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 0px solid #ffffff;
    height: 2.5em;
    padding: 0.5em;    
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;      
    color: white;   
  }
  
  .menu > li:not(:last-child) {
    border-bottom: 0px solid #444;
  }

  header {
    height: 40px;
  }

  header img {  
    content:'images/logo2.jpg';  
    width: 40px;        
  }
}

/* FOOTER */
footer {     
  position: fixed;
  width: 100%;
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;	
  bottom: 0;  
  color: #a2ff00;
  font-size: 14px;    
  font-weight: 0;   
  z-index: 999;    
}

footer ul {
  height: 40px;
}

footer li {    
  list-style: none;
  display: inline-block;
  margin: 1rem;
}

footer a {            
  font-weight: 200; 
  font-style:normal;
}

footer img {
  max-width: 14px;
}


/* @media (max-width: 300px) {
  footer {  
    height: 40px;
    font-size: 9px; 
  }
} */




/* IMPOSTAZIONE PAGINA*/
section {   
  /* border: 1px solid yellow; */
  width: 100%;  
  height: 100vh;
  scroll-snap-align: center;
  position: relative;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

 canvas {   
  box-sizing: border-box;     
  position:fixed;
  width: 100%; 
  height: auto;   
  top: 0%;
  z-index: -9999;
}

.home-text { 
  /* border: 1px solid rgb(255, 0, 0); */
  width: 50%;
  height: 50vh;   
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: space-between; 
}

.home1-text { 
  /* border: 1px solid rgb(255, 0, 0); */
  width: 40%;
  margin-left: 40%;
  height: 50vh; 
}

.data-text { 
  /* border: 1px solid rgb(255, 0, 0); */
  width: 40%;
  margin-left: 56%;
  height: 50vh; 
}

.cinematic-text { 
  /* border: 1px solid rgb(0, 17, 255); */
  margin-left: 55%;
  width: 36%;
  height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.writing-text { 
  /* border: 1px solid rgb(255, 0, 0); */
  margin-left: 50%;
  width: 40%;
  height: 50vh; 
}

.gallery-text { 
  /* border: 1px solid rgb(255, 0, 0); */
  margin-left: 10%;
  width: 40%;
  height: 50vh; 
}

.home-title{ 
  /* border: 1px solid rgb(0, 60, 255); */
  width: 100%;
  margin-left: 0%;
  height: 36%;
  align-items: center;  
}

.home-title h1 { 
  /* border: 1px solid rgb(255, 238, 0); */
  color: #a2ff00;      
  font-family: 'Source Sans 3', sans-serif;          
  font-size: 80px;    
  font-weight: 800; 
  font-style: italic;
}

.home-title h2 {  
  /* border: 1px solid rgb(7, 239, 223); */
  color: #a2ff00;      
  font-family: 'Source Sans 3', sans-serif;        
  font-size: 50px;      
  font-weight: 800; 
  font-style: italic; 
}

.home-paragraph { 
  /* border: 1px solid rgb(239, 7, 228); */
  width: 100%;
  margin-left: 0%;
  height: auto;   
  font-size: 22px;   
  font-size: 30px;  
  line-height: 26px;   
  line-height: 34px; 
}

.home-paragraph a {  
  /* border: 1px solid rgb(51, 255, 0);  */
  font-weight: 600;  
  font-style: italic;  
}

.p-italic { 
  font-style: italic; font-weight: 400;
}

.p-italic-s { 
  font-style: italic;
}
.p-bold {
  font-weight: 600;
}

.images-div {
  /* border: 1px solid rgb(0, 60, 255); */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;  
  /* padding: 25px; */
  gap: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.images-text-left { 
  /* border: 1px solid rgb(255, 0, 0);  */
  width: 50%; 
  height: auto;
  overflow: hidden; 
  position: relative;
}

.images-text-right { 
  /* border: 1px solid rgb(255, 0, 0); */
  width: 50%; 
  height: auto;
  overflow: hidden; 
  position: relative; 
}

.images-text-right img {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200%;
  max-height: 200%;
  object-fit: cover; 
}

.images-text-left img {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200%;
  max-height: 200%;
  object-fit: cover; 
}

.scrolling {  
  /* border: 1px solid rgb(255, 230, 0); */
  /* position: absolute; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* height: 26px;  
  bottom: 40px;  */
 }
 
.scrolling img {
  filter: invert(1);
  width: auto;
  height: 30px;
}



/*--------1240----------*/

@media (max-width: 1640px) {

  .home1-text { 
    /* border: 1px solid rgb(255, 0, 0); */
    width: 60%;
    margin-left: 30%;
    height: 50vh; 
  }

  .home-title {
    width: 80%;
    margin-left: 0%;
    height: 30%;
  }

  .home-title h1 {         
    font-size: 80px; 
    line-height: 60px; 
  }

  .home-text {
    width: 50%;
    height: auto; 
    display: flex;
    align-items: center;
    align-content: center;
  }
  
  .home-paragraph {  
    width: 100%;
    height: 60%;   
    font-size: 24px;     
    line-height: 28px;    
  }
} 



/*--------724----------*/

@media (max-width: 724px) { 

  .home1-text {
    width: 90%;
    height: 90vh;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
  }

  .data-text {
    width: 90%;
    height: 90vh;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
  }

  .cinematic-text {
    width: 90%;
    height: 90vh;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
  }

  .writing-text {
      width: 90%;
      height: 90vh;
      margin-left: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;         
  }

  .gallery-text {
    width: 90%;
    height: 90vh;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;         
}

  .home-title{    
    width: 90%;  
    height: 20%;
    align-items: center;
    margin-bottom: 20px;
  }

  .home-title h1 {         
    font-size: 50px;       
    line-height: 40px;  
  }
  
  .home-paragraph {        
    width: 90%;
    height: 65%;    
    margin-left: 0px;
  }

  .home-paragraph p {
    font-size: 22px;     
    line-height: 26px;    
  }

  .scrolling {    
    position: absolute;
    display: flex;
    width: auto;
    height: 26px;  
    bottom: 60px; 
   }
   
  .scrolling img {
    filter: invert(1);
    width: auto;
    height: 22px;
  }
} 



/*--------280----------*/

@media (max-width: 280px) {

  .home-text {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;     
  }

  .home-title{    
    width: 90%;  
    height: 16%;
    align-items: center;
    margin-bottom: 20px;
  }

  .home-title h1 {         
    font-size: 50px;       
    line-height: 40px;  
  }
  
  .home-paragraph {         
    width: 90%;
    height: 50%;    
    margin-left: 0px;
  }

  .home-paragraph p {
    font-size: 15px;     
    line-height: 16px;    
  }
}