.canvas {
  z-index: -1;
}  

.info_leyer {    
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info {    
  width: 160px;
  height: 30px;  
  text-align: center; 
  font-size: 12px;;
}

.canvas {
  z-index: -1;             
}

canvas {
  position: absolute;
  top: 0;
  cursor: grab;
}

canvas:active {				
cursor: grabbing;
}

/* COVER AND BOOK CONTAINER*/
.container-book {  
  display: flex;
  flex-direction: column;
  flex-direction: row;   
  align-items: center;
  -webkit-justify-content: center;
  justify-content: space-around;  
  width: 70%;
  height: 60vh; 
}

.cover-container {   
  width: auto;
  height: 100%;
}

.cover-container img {
  max-height: 100%;
}

.text-container {        
  overflow: auto;   
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;  
  align-items: center;      
}

.text-book {
  width: 90%;
  height: 80%; 
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.text-book h2 {
  font-style: italic;
}

.text-book p {     
  font-size: 20px;
  line-height: 22px;   
}

.italic {
  font-style: italic;  
}


.button_div_writing {  
  width: 90%;   
  height: 20%;  
  position: relative;
  display:flex;
  align-items:end;
  justify-content: left; 
}

.button_div_writing button {
  font-size: 8px;
}

.button_camera {  
  position: fixed;
  height: 40px;
  bottom: 40px;  
  width: 100%;
}

.button_div {
  width: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.button {  
  border: 1px solid  rgb(255, 255, 255);  
  color:rgb(255, 255, 255);    
  text-align: center;
  width: 80px;
  height: 24px;    
  border-radius: 10px;    
  background-color: rgba(0,0,0,0);
  font-size: 10px;
  cursor: pointer;
}

.button:hover {  
  border: 1px solid  rgb(162, 255, 0);
  color:rgb(162, 255, 0);
}

@media (max-width: 1024px) {

  .container-book {    
    width: 90%;
    height: 80Vh;
  }

  .cover-container {    
    width: 40%;
    height: 60%; 
  }
      
  .cover-container img {     
    height: 100%;
    width: auto;
   }       
  
  .text-container {  
    width: 60%;
    height: 60%;       
  }
    
  .text-book {      
    width: 90%;
    height: 80%;       
    font-weight: 100; 
  }  
  
  .text-book h2 {      
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;     
  } 
  
  .text-book p {      
    font-size: 16px;
    line-height: 18px;
    font-weight: 100; 
  } 

  .button_div_writing {    
    justify-content: center;    
  }
  
}

@media (max-width: 700px) {

  .container-book {
    position: absolute;    
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 86vh;
  }

  .cover-container {    
    overflow: hidden;     
    width: 100%;
    height: 30%;   
  }
    
  .cover-container img {     
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: top; 
  }       

  .text-container {
    width: 100%;
    height: 90%;       
  }
  
  .text-book {        
    height: 90%;   
    padding-top: 20px; 
  }
  
  .text-book h2 {    
    font-size: 18px;
    font-weight: 400; 
    text-align: left;
  } 
  
  .text-book p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 100; 
  }  

  .button_div_writing {
    height: 10%;  
    justify-content: left;  
  }
}